/*------------------------------------*\
    # components.stats
\*------------------------------------*/

.stats {

    &__list {
        @media (--screen-to-lrg) {
            margin-bottom: calc($unit * 2);
        }

        @media (--screen-to-med) {
            margin-bottom: $unit;
        }

    	@media (--screen-from-lrg) {
            float: left;
            margin-right: calc($unit * 5);
        }

    	&__item {
    		display: inline-block;
    		padding-right: $unit;
    	}

    	&__link {
    		position: relative;
    		display: inline-block;
    		padding: $unit calc($unit * 0.5);
    		opacity: 0.5;
    		transition: all .2s;
            color: color($color-white-or-black a(0.85));

    		&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 2px;
				background: color($color-white-or-black a(0.85));
				transition: all .2s;
			}

    		&.active,
    		&:hover {
    			opacity: 1;
                color: color($color-white-or-black a(0.85));

    			&:after {
    				width: 100%;
    			}
    		}
    	}
    }

	&__info {
		display: inline-block;
		margin-right: calc($unit * 1);

        @media (--screen-from-sml) {
            margin-right: calc($unit * 5);
        }
		
		@media (--screen-from-lrg) {
            float: left;
			margin-top: calc($unit * 2 * -1);
        }
	}

    &__link {
        cursor: pointer;

        .stats__number {
            color: $color-primary;
            transition: color .2s;
        }

        &:hover,
        &:focus {
            .stats__number {
                color: color($color-primary blackness(+25%));
            }
        }
    }

	&__number {
		@mixin type-scale $type-medium, 1.25;
		float: left;
		color: color($color-white-or-black a(0.65));

        @media (--screen-to-med) {
            @mixin type-scale $type-tiny;
        }
        
        @media (--screen-from-lrg) {
            @mixin type-scale $type-xlarge, 2;
        }
	}

	&__label {
		@mixin type-scale $type-micro, 0.75;
		float: left;
        text-align: left;
        margin-left: calc($unit * 0.5);
        margin-top: 9px;

        @media (--screen-from-sml) {
		    margin-left: $unit;
        }
        @media (--screen-to-med) {
            @mixin type-scale $type-nano, 0.25;
            letter-spacing: 0.5em;
        }

		@media (--screen-from-lrg) {
            max-width: 7em;
            margin-top: 4px;
        }
	}
} 
