/*------------------------------------*\
    # components.auth
\*------------------------------------*/

.auth {
    background: #adadad;
    background-image: repeating-radial-gradient(circle at 50% 50%, color(white a(0.8)) 8px, color(white a(0.8)) 0px, #f8f8f8 11px, #f8f8f8 90px);
    height: 100%;
    overflow-y: auto;

    &__layout {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        max-width: 360px;
        margin: 0 auto;
        transform: translate(-50%, -50%);

        @media (--screen-to-med) and (max-height: 38em) {
            position: relative;
            transform: none;
            top: 0;
            left: 0;
        }
    }
    
    &__branding {
        margin: 0 auto calc($unit * 12) auto;
        width: 48px;
        height: 48px;
        background: $logo-auth-background;
        background-size: 48px;

        &--sentinel {
            width: 200px;
            height: 34px;
            background: $logo-auth-sentinel-background;
            background-size: 144px;
            position: fixed;
            bottom: calc($unit * 3);
            left: calc($unit * 3);

            @media (--screen-to-med) and (max-height: 38em) {
                position: relative;
                top: calc($unit * 2);
                left: auto;
                bottom: auto;
                width: auto;
                max-width: 360px;
                margin: 0 auto;
                margin-left: calc($unit * 3);
            }
        }
    }

    &__box {
        padding: calc($unit * 10);
        background: white;
        border: 1px solid color(black a(0.07));
        box-shadow: 0 0 20px color(black a(0.1));
        border-radius: calc($unit * .5);

        &__title {
            margin-bottom: calc($unit * 8);
        }

        .btn {
            height: calc($unit * 6);
        }
    }

} 
