/*------------------------------------*\
    # modules.scrollbar
\*------------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.06);
}
 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 4px;

    &:hover {
        background: rgba(0,0,0,0.4);
    }
}