
/*------------------------------------*\
    # modules.password
\*------------------------------------*/

.Password {
    max-width:  100% !important;
}
.Password__field {
    background-color: white;
    border-radius: $global-radial;
    box-sizing: border-box;
    font-family: $ff-sans;
    font-weight: 1;
    color: $color-text;
    width: 100%;
    height: 40px;

    background: white !important;
    border: 1px solid color(black a(0.12)) !important;

        &:hover {
            border-color: color(black a(0.2)) !important;
            outline: 0 !important;
        }

        &:disabled {
            opacity: .5 !important;
            background: #f6f6f6 !important;
        }

        &::placeholder {
            opacity: .4 !important;
        }
        &:focus {
            box-shadow: 0 0 0 2px rgba(230, 3, 0, 0.2);
            border-color: rgba(0, 0, 0, 0.2); 
            transition: all .2s;
            outline: 0 !important;
        }
}
