/*------------------------------------*\
    # modules.social
\*------------------------------------*/

.social {
    
}
/* TODO: rename this to something better */

.router-top {
	background: url("../../images/devices.svg") no-repeat center center;
	width: 80px;
	height: 60px;
	padding-bottom: 10px;
	background-color: white !important;
	text-align: center;
}

.repeater-top {
	background: url("../../images/repeater0.svg") no-repeat center center;
	width: 80px;
	height: 60px;
	padding-bottom: 10px;
	background-color: white !important;
	text-align: center;
}

.device-top {
	width: 80px;
	height: 60px;
	padding-bottom: 10px;
	text-align: center;
	background-color: white !important;
}