/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.u-width {
    
    &--full {
        width: 100%;
    }
    &--half {
        width: 50%;
    }
    &--smaller {
        width: 35%;
    }
    &--bigger {
        width: 60%;
    }
}