/*------------------------------------*\
    # utils.padders
\*------------------------------------*/

.u-padd {

    &-top {

        &--none {
            padding-top: 0;
        }

        &--tny {
            padding-top: calc($unit * 1);
        }

        &--sml {
            padding-top: calc($unit * 2);
        }

        &--med {
            padding-top: calc($unit * 4);
        }

        &--lrg {
            padding-top: calc($unit * 6);
        }

        &--xlrg {
            padding-top: calc($unit * 8);
        }

    }

    &-right {
        
        &--tny {
            padding-right: calc($unit * 1);
        }
        
        &--sml {
            padding-right: calc($unit * 2);
        }
        
        &--med {
            padding-right: calc($unit * 4);
        }
        
        &--lrg {
            padding-right: calc($unit * 6);
        }
        
        &--xlrg {
            padding-right: calc($unit * 8);
        }

    }

    &-bottom {

        &--none {
            padding-bottom: 0;
        }

        &--tny {
            padding-bottom: calc($unit * 1);
        }

        &--sml {
            padding-bottom: calc($unit * 2);
        }

        &--med {
            padding-bottom: calc($unit * 4);
        }

        &--lrg {
            padding-bottom: calc($unit * 6);
        }

        &--xlrg {
            padding-bottom: calc($unit * 8);
        }

    }

    &-left {
        
        &--tny {
            padding-left: calc($unit * 1);
        }

        &--sml {
            padding-left: calc($unit * 2);
        }

        &--med {
            padding-left: calc($unit * 4);
        }

        &--lrg {
            padding-left: calc($unit * 6);
        }

        &--xlrg {
            padding-left: calc($unit * 8);
        }
    }
}