/*------------------------------------*\
# utils.grid
\*------------------------------------*/

.u-grid {
    lost-masonry-wrap: flex;

    &--gut1 {
        lost-masonry-wrap: flex $gutter-unit;
    }

    &-sml {
        &__col1 {
            lost-masonry-column: 1/12;

            &--gut1 {
                lost-masonry-column: 1/12 $gutter-unit;
            }
        }

        &__col2 {
            lost-masonry-column: 2/12;

            &--gut1 {
                lost-masonry-column: 2/12 $gutter-unit;
            }
        }

        &__col3 {
            lost-masonry-column: 3/12;

            &--gut1 {
                lost-masonry-column: 3/12 $gutter-unit;
            }
        }

        &__col4 {
            lost-masonry-column: 4/12;

            &--gut1 {
                lost-masonry-column: 4/12 $gutter-unit;
            }
        }

        &__col5 {
            lost-masonry-column: 5/12;

            &--gut1 {
                lost-masonry-column: 5/12 $gutter-unit;
            }
        }

        &__col6 {
            lost-masonry-column: 6/12;

            &--gut1 {
                lost-masonry-column: 6/12 $gutter-unit;
            }
        }

        &__col7 {
            lost-masonry-column: 7/12;

            &--gut1 {
                lost-masonry-column: 7/12 $gutter-unit;
            }
        }

        &__col8 {
            lost-masonry-column: 8/12;

            &--gut1 {
                lost-masonry-column: 8/12 $gutter-unit;
            }
        }

        &__col9 {
            lost-masonry-column: 9/12;

            &--gut1 {
                lost-masonry-column: 9/12 $gutter-unit;
            }
        }

        &__col10 {
            lost-masonry-column: 10/12;

            &--gut1 {
                lost-masonry-column: 10/12 $gutter-unit;
            }
        }

        &__col11 {
            lost-masonry-column: 11/12;

            &--gut1 {
                lost-masonry-column: 11/12 $gutter-unit;
            }
        }

        &__col12 {
            lost-masonry-column: 12/12;

            &--gut1 {
                lost-masonry-column: 12/12 $gutter-unit;
            }
        }
    }

    &-med {
        @media (--screen-from-med) {
            &__col1 {
                lost-masonry-column: 1/12;
            }

            &__col2 {
                lost-masonry-column: 2/12;
            }

            &__col3 {
                lost-masonry-column: 3/12;
            }

            &__col4 {
                lost-masonry-column: 4/12;

                &--gut1 {
                    lost-masonry-column: 4/12 $gutter-unit;
                }
            }

            &__col5 {
                lost-masonry-column: 5/12;
            }

            &__col6 {
                lost-masonry-column: 6/12;
            }

            &__col7 {
                lost-masonry-column: 7/12;
            }

            &__col8 {
                lost-masonry-column: 8/12;
            }

            &__col9 {
                lost-masonry-column: 9/12;
            }

            &__col10 {
                lost-masonry-column: 10/12;
            }

            &__col11 {
                lost-masonry-column: 11/12;
            }

            &__col12 {
                lost-masonry-column: 12/12;
            }
        }
    }

    &-lrg {
        @media (--screen-from-lrg) {
            &__col1 {
                lost-masonry-column: 1/12;
            }

            &__col2 {
                lost-masonry-column: 2/12;
            }

            &__col3 {
                lost-masonry-column: 3/12;
            }

            &__col4 {
                lost-masonry-column: 4/12;

                &--gut1 {
                    lost-masonry-column: 4/12 $gutter-unit;
                }
            }

            &__col5 {
                lost-masonry-column: 5/12;
            }

            &__col6 {
                lost-masonry-column: 6/12;
            }

            &__col7 {
                lost-masonry-column: 7/12;
            }

            &__col8 {
                lost-masonry-column: 8/12;
            }

            &__col9 {
                lost-masonry-column: 9/12;
            }

            &__col10 {
                lost-masonry-column: 10/12;
            }

            &__col11 {
                lost-masonry-column: 11/12;
            }

            &__col12 {
                lost-masonry-column: 12/12;
            }
        }
    }

    &-xlrg {
        @media (--screen-from-xlrg) {
            &__col1 {
                lost-masonry-column: 1/12;
            }

            &__col2 {
                lost-masonry-column: 2/12;
            }

            &__col3 {
                lost-masonry-column: 3/12;
            }

            &__col4 {
                lost-masonry-column: 4/12;
            }

            &__col5 {
                lost-masonry-column: 5/12;
            }

            &__col6 {
                lost-masonry-column: 6/12;
            }

            &__col7 {
                lost-masonry-column: 7/12;
            }

            &__col8 {
                lost-masonry-column: 8/12;
            }

            &__col9 {
                lost-masonry-column: 9/12;
            }

            &__col10 {
                lost-masonry-column: 10/12;
            }

            &__col11 {
                lost-masonry-column: 11/12;
            }

            &__col12 {
                lost-masonry-column: 12/12;
            }
        }
    }

    &-xxlrg {
        @media (--screen-from-xxlrg) {
            &__col1 {
                lost-masonry-column: 1/12;
            }

            &__col2 {
                lost-masonry-column: 2/12;
            }

            &__col3 {
                lost-masonry-column: 3/12;
            }

            &__col4 {
                lost-masonry-column: 4/12;
            }

            &__col5 {
                lost-masonry-column: 5/12;
            }

            &__col6 {
                lost-masonry-column: 6/12;
            }

            &__col7 {
                lost-masonry-column: 7/12;
            }

            &__col8 {
                lost-masonry-column: 8/12;
            }

            &__col9 {
                lost-masonry-column: 9/12;
            }

            &__col10 {
                lost-masonry-column: 10/12;
            }

            &__col11 {
                lost-masonry-column: 11/12;
            }

            &__col12 {
                lost-masonry-column: 12/12;
            }
        }
    }

}
