/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.u-display {

    &--i {
    	display: inline;
    }

    &--ib {
    	display: inline-block;
    }

    &--b {
    	display: block;
    }
    
}